@import "tailwindcss";

:root {
  --background: #080808;
  --foreground: #f5f1e8;

  --gold: #d4af37;
  --gold-light: #f1d77a;
  --burgundy: #7f1d2d;

  --surface: #111111;
  --surface-light: #181818;
  --border: rgba(212, 175, 55, 0.2);
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  background: var(--background);
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}

::selection {
  background: var(--gold);
  color: #080808;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.gold-text {
  color: var(--gold);
}

.luxury-border {
  border: 1px solid var(--border);
}

.luxury-glass {
  background: rgba(8, 8, 8, 0.65);
  border: 1px solid var(--border);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
}

.gold-button {
  background: var(--gold);
  color: #080808;
  transition:
    transform 0.3s ease,
    background 0.3s ease,
    box-shadow 0.3s ease;
}

.gold-button:hover {
  background: var(--gold-light);
  transform: translateY(-2px);
  box-shadow: 0 12px 35px rgba(212, 175, 55, 0.2);
}
/* loading  */
@keyframes loading {
  0% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(220%);
  }
}
/* Dashboard scrollbar */

.scrollbar-none {
  scrollbar-width: none;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

/* Dashboard selection */

.dashboard-shell ::selection {
  background: #d4af37;
  color: #080808;
}